.ExhibitCard {
  display: grid;
  font-size: 24px;
  border: 1px solid var(--color-dark);
  height: calc(100% - 2px);
  background-image: linear-gradient(var(--color-transparent), var(--color-dark-tinted-1));
  cursor: pointer;
}

.ExhibitCard .ExhibitCard-title {
  place-self: center;
}

.Landing .Landing-focus {
  text-align: center;
}
