.ExhibitCard {
  display: grid;
  grid: 1fr 2fr 1fr / 1fr;
  font-size: 24px;
  height: calc(100% - 2px);
  cursor: pointer;
}

.ExhibitCard:hover {
  filter: opacity(60%);
}

.ExhibitCard-title {
  grid-area: 2 / 1;
  place-self: center;
  color: var(--color-dark);
}

.ExhibitCard-icon {
  grid-area: 3 / 1;
  place-self: center;
}
