.Task {
  font-size: 30px;
  text-align: center;
}

.Task ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

.Task ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}