.Body {
    margin: 0;
}

.Landing {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 500px;

    background-color: #303540;
}

.Landing .Landing-focus {
    place-self: center;
    text-align: center;
}

.Headline {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0;
    color: #303540;
}

.Headline--inverted {
    color: #ffffff;
}

.Headline--1 {
    font-size: 64px;
}

.Headline--2 {
    font-size: 48px;
}

.Button {
    background-color: #30354000;
    color: #303540;
    border: 1px solid #303540;
    border-radius: 4px;
    padding: 8px 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    cursor:pointer;
}

.Button:hover {
    background-color: #30354020;
}

.Button:active {
    background-color: #30354080;
}

.Button--inverted {
    background-color: #ffffff00;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.Button--inverted:hover {
    background-color: #ffffff20;
}

.Button--inverted:active {
    background-color: #ffffff80;
}

.u-marginBot-small {
    margin-bottom: 15px;
}

.u-marginBot-medium {
    margin-bottom: 25px;
}

.u-marginBot-large {
    margin-bottom: 40px;
}
