
.Gallery-body {
  /* TODO refactor into reusable page body */
  width: 700px;
  margin: 20px auto;
}

.Gallery {
  display: grid;
  grid: auto-flow dense 100px / calc(50% - 10px) calc(50% - 10px);
  grid-gap: 20px;
}

.Gallery .Gallery-item {
  overflow: hidden;
}

.Gallery .Gallery-exhibit-expanded {
  grid-area: span 4 / span 2;
  border: 10px solid var(--color-dark-translucent-1);
}

.CatImage {
  max-width: 610px;
}
