:root {
  --rgb-light: 255, 255, 255;
  --rgb-dark: 48, 53, 64;

  --alpha-transparent: 0.0;
  --alpha-tinted-1: 0.1;
  --alpha-tinted-2: 0.2;
  --alpha-translucent-2: 0.6;
  --alpha-translucent-1: 0.8;
  --alpha-opaque: 1.0;

  --color-dark: rgba(var(--rgb-dark));
  --color-dark-translucent-1: rgba(var(--rgb-dark), var(--alpha-translucent-1));
  --color-dark-translucent-2: rgba(var(--rgb-dark), var(--alpha-translucent-2));
  --color-dark-tinted-2: rgba(var(--rgb-dark), var(--alpha-tinted-2));
  --color-dark-tinted-1: rgba(var(--rgb-dark), var(--alpha-tinted-1));

  --color-light: rgba(var(--rgb-light));
  --color-light-translucent-1: rgba(var(--rgb-light), var(--alpha-translucent-1));
  --color-light-translucent-2: rgba(var(--rgb-light), var(--alpha-translucent-2));
  --color-light-tinted-2: rgba(var(--rgb-light), var(--alpha-tinted-2));
  --color-light-tinted-1: rgba(var(--rgb-light), var(--alpha-tinted-1));

  --color-transparent: rgba(0, 0, 0, var(--alpha-transparent));
}

.Body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.u-marginSmall {
  margin-bottom: 15px;
}

.u-marginMedium {
  margin-bottom: 25px;
}

.u-marginLarge {
  margin-bottom: 40px;
}

.u-marginRight {
  margin-right: 15px;
}

.u-marginTop {
  margin-right: 15px;
}
