.Button {
  background-color: var(--color-transparent);
  color: var(--color-dark);
  border: 1px solid var(--color-dark);
  border-radius: 4px;
  padding: 8px 12px;
  font: inherit;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
}

.Button:hover:enabled {
  background-color: var(--color-dark-tinted-1);
}

.Button:active:enabled {
  background-color: var(--color-dark-tinted-2);
}

.Button--inverted {
  color: var(--color-light);
  border: 1px solid var(--color-light);
}

.Button--inverted:hover {
  background-color: var(--color-light-tinted-1);
}

.Button--inverted:active {
  background-color: var(--color-light-tinted-2);
}

.Button:disabled,
.Button[disabled]{
  border: 1px solid var(--color-dark-tinted-2);
  background-color: var(--color-dark-tinted-1);
  color: var(--color-dark-tinted-2);
}

.Button--inverted:disabled,
.Button--inverted[disabled]{
  border: 1px solid var(--color-dark-tinted-1);
  background-color: var(--color-dark-tinted-2);
  color: var(--color-dark-tinted-1);
}
