.Headline {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 0;
  color: var(--color-dark);
}

.Headline--inverted {
  color: var(--color-light);
}

.Headline--1 {
  font-size: 64px;
}

.Headline--2 {
  font-size: 48px;
}

.Headline--3 {
  font-size: 36px;
}

.Headline--4 {
  font-size: 24px;
}

.Headline--5 {
  font-size: 20px;
}

.Headline--6 {
  font-size: 18px;
}
